/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}


/* Career Map Customizations start here */

.brand-logo>img {
    padding-left: 8px;
    padding-top: 8px;
}

.col>.btn-large {
    width: 100%;
    margin-bottom: 5px;
}

footer.page-footer {
    padding-top: 0px;
}

#bg-image {
    opacity: 0.3;
}

.title {
    font-weight: bolder;
}

.navbar-login {
    margin-top: 5px;
    margin-right: 6px;
    cursor: pointer;
    height: 50px;
}

#login-image {
    height: 600px;
}

.bg-image-review {
    height: 200px;
}
