<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Database Management</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>
    <!-- Nav bar header -->
    <nav class="white" role="navigation">
        <div class="nav-wrapper">
            <a id="logo-container" class="brand-logo center" href="/index"><img src="{{ url_for('static', filename='berkeleylogo2.jpg') }}"></a>
            {% if not login %}
            <ul class="right hide-on-med-and-down">
                <li class="black-text">
                    Welcome
                    <div class="chip">
                        <img src="{{ photo }}" alt="Contact Person"> {{ first_name }}
                    </div>
                </li>
                <li><a class="btn-logout waves-effect waves-light btn-large red lighten-2 white-text">Sign Out</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li class="black-text">
                    Welcome
                    <div class="chip">
                        <img src="{{ photo }}" alt="Contact Person"> {{ first_name }}
                    </div>
                </li>
                <li><a class="btn-logout waves-effect waves-light btn red lighten-2 white-text">Sign Out</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons red-text">menu</i></a> {% endif %}
        </div>
    </nav>
    <!-- End Nav bar header -->

    {% block content %} {% endblock %}

    <!-- Footer section -->
    <footer class="page-footer red lighten-2">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">Database Management Spring 2017, Final Project</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by Eric, Fred, Kim, Liz, Owen
            </div>
        </div>
    </footer>
    <!-- End Footer section -->

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='init.js') }}"></script>
</body>

</html>
