{% extends "base.html" %} {% block content %}

<!-- Main section -->
<div class="parallax-container">
    <div id="bg-image" class="parallax">
        <img src="{{ url_for('static', filename='south-hall2.jpg') }}" alt="" style="display: block; transform: translate3d(-50%, 34px, 0px);">
    </div>

    <!-- Main heading -->
    <div class="container">
        <br><br><br>
        <div class="row center title">
            <h2 class="header center blue-text text-darken-2">Where do you want to work after iSchool?</h2>
            <p>We help you select classes based on your area of interest</p>
        </div>
        <br>

        <!-- Career concentration buttons -->
        <div class="row">
            <div class="col s6 m4">
                <a class="btn-large waves-effect waves-light white blue-text">Product Management</a>
            </div>
            <div class="col s6 m4">
                <a class="btn-large waves-effect waves-light white blue-text">Data Science</a>
            </div>
            <div class="col s6 m4">
                <a class="btn-large waves-effect waves-light white blue-text">Software Development</a>
            </div>
            <div class="col s6 m4">
                <a class="btn-large waves-effect waves-light white blue-text">User Experience</a>
            </div>
            <div class="col s6 m4">
                <a class="btn-large waves-effect waves-light white blue-text">Consulting</a>
            </div>
            <div class="col s6 m4">
                <a class="btn-large waves-effect waves-light white blue-text">Information Policy</a>
            </div>
        </div>
        <br/>
    </div>
    <br>
</div>
<!-- End Main section -->


<!-- Course List -->
<div class="section grey lighten-4">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 202. Information Organization and Retrieval</span>
                                <p>Instructor(s): Robert Glushko, David Bamman</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  5 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 206. Distributed Computing Applications and Infrastructure</span>
                                <p>Instructor(s): Doug Tygar</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  4 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 213. User Interface Design and Development</span>
                                <p>Instructor(s): Robert Youmans</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  3 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 216. Computer-Mediated Communication</span>
                                <p>Instructor(s): Coye Cheshire, Jennifer King</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  2 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 225. Managing in Information-Intensive Companies</span>
                                <p>Instructor(s): Morten Hansen</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  1 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 232. Applied Behavioral Economics</span>
                                <p>Instructor(s): Steven Weber</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  1 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m10">
                                <span class="card-title">Info 253. Web Architecture</span>
                                <p>Instructor(s): Kay Ashaolu</p>
                            </div>
                            <div class="col s12 m2 right-align">
                                <h5>
                  1 <i class="small material-icons waves-effect">thumb_up</i>
                  </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="review">Reviews</a>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
    </div>
</div>
<!-- End Course List -->

{% endblock %}
