{% extends "base.html" %} {% block content %}

<!-- Concentration buttons section -->
<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <h2 class="header center red-text text-darken-1">Where do you want to work after iSchool?</h2>

            <form id="select-concentration" action="select-concentration" method="POST">
                <input type="hidden" name="concentration-name" id="concentration-name"
                {% if concentration_name %}
                  value="{{ concentration_name }}">
                {% else %}
                  value="">
                {% endif %}
                <div class="row">
                    <div class="col s6 m4">
                        <a class="btn-concentration-name btn-large waves-effect waves-light white red-text text-lighten-2 lighten-2">Product Management</a>
                    </div>
                    <div class="col s6 m4">
                        <a class="btn-concentration-name btn-large waves-effect waves-light white red-text text-lighten-2 lighten-2">Data Science</a>
                    </div>
                    <div class="col s6 m4">
                        <a class="btn-concentration-name btn-large waves-effect waves-light white red-text text-lighten-2 lighten-2">Software Dev / Engineering</a>
                    </div>
                    <div class="col s6 m4">
                        <a class="btn-concentration-name btn-large waves-effect waves-light white red-text text-lighten-2 lighten-2">UX Design</a>
                    </div>
                    <div class="col s6 m4">
                        <a class="btn-concentration-name btn-large waves-effect waves-light white red-text text-lighten-2 lighten-2">UX Research</a>
                    </div>
                    <div class="col s6 m4">
                        <a class="btn-concentration-name btn-large waves-effect waves-light white red-text text-lighten-2 lighten-2">Information Policy</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='background3.jpg') }}" class="bg-image"></div>
</div>
<!-- End Concentration buttons section -->

<div class="section no-pad-bot no-pad-top">
    <div class="container">

        <!-- Course List -->
        {% for course in courses %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <form id="add-rating" action="add-rating" method="POST">
                                <input type="hidden" class="course_ref" name="course_ref" value="{{ course[1] }}">
                                <div class="col s12 m10">
                                    <span class="card-title">{{ course[2] }}. {{ course[3]}}</span>
                                    <p>Instructor(s): {{ course[4] }}</p>
                                </div>
                                <div class="col s12 m2 right-align">
                                    <h5>{{ course[5] }} <a class="btn-add-rating small material-icons waves-effect red-text text-lighten-2
                                      {% if course[5] > 0 %} tooltipped" data-position="bottom" data-delay="50" data-tooltip="Rated by {{ course[6]}}">thumb_up</a></h5>
                                      {% else %} ">thumb_up</a></h5>
                                      {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-action">
                        <form id="reviews" action="reviews" method="POST">
                            <input type="hidden" name="course_ref" id="course_ref" value="{{ course[1] }}">
                            <input type="hidden" name="course_id" id="course_id" value="{{ course[2] }}">
                            <input type="hidden" name="course_name" id="course_name" value="{{ course[3]}}">
                            <button class="btn-reviews btn-hidden" type="button" >Reviews</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- End Course List -->

        <!-- Add a Course -->
        {% if concentration_name %}
        <br>
        <hr><br>
        <h5>Think we're missing a course? Add one!</h5>
        <br>
        <form id="add-course" name="add-course" onsubmit="return validateAddCourseForm()" action="add-course" method="POST">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content grey lighten-5">
                            <div class="row">
                                <div class="col s12 m10">
                                    <span class="card-title">
                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input placeholder="Course ID" id="course_id_add" name="course_id_add" type="text" class="validate">
                                            </div>
                                            <div class="input-field col s8">
                                                <input placeholder="Course Name" id="course_name_add" name="course_name_add" type="text" class="validate">
                                            </div>
                                        </div>
                                    </span>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Instructor Name" id="instructor_add" name="instructor_add" type="text" class="validate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action grey lighten-5">
                            <button id="btn-add-course" class="btn-hidden" type="button">Add Course</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br><br> {% endif %}
        <!-- End Add a Course-->

    </div>
</div>
{% endblock %}
