{% extends "base.html" %} {% block content %}

<!-- Main section -->
<div class="parallax-container">
    <div id="bg-image" class="parallax">
        <img src="{{ url_for('static', filename='south-hall2.jpg') }}" alt="" style="display: block; transform: translate3d(-50%, 34px, 0px);">
    </div>

    <!-- Main heading -->
    <div class="container">
        <br><br><br>
        <div class="row center title">
            <h2 class="header center blue-text text-darken-2">Where do you want to work after iSchool?</h2>
            <p>We help you select classes based on your area of interest</p>
        </div>
        <br>

        <!-- Career concentration buttons -->
        <form id="select-concentration" action="select-concentration" method="POST">
            <input type="hidden" name="concentration-name" id="concentration-name" value="">
            <div class="row">
                <div class="col s6 m4">
                    <a class="btn-concentration-name btn-large waves-effect waves-light white blue-text">Product Management</a>
                </div>
                <div class="col s6 m4">
                    <a class="btn-concentration-name btn-large waves-effect waves-light white blue-text">Data Science</a>
                </div>
                <div class="col s6 m4">
                    <a class="btn-concentration-name btn-large waves-effect waves-light white blue-text">Software Development</a>
                </div>
                <div class="col s6 m4">
                    <a class="btn-concentration-name btn-large waves-effect waves-light white blue-text">User Experience</a>
                </div>
                <div class="col s6 m4">
                    <a class="btn-concentration-name btn-large waves-effect waves-light white blue-text">Consulting</a>
                </div>
                <div class="col s6 m4">
                    <a class="btn-concentration-name btn-large waves-effect waves-light white blue-text">Information Policy</a>
                </div>
            </div>
        </form>
        <br/>
    </div>
    <br>
</div>
<!-- End Main section -->


<div class="section grey lighten-4">
    <div class="container">

        <!-- Course List -->
        {% for course in courses %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                          <form id="add-rating" action="add-rating" method="POST">
                            <input type="hidden" class="course_ref" name="course_ref" value="{{ course["course_ref"] }}">
                            <div class="col s12 m10">
                                <span class="card-title">{{ course["course_id"] }}. {{ course["course_name"]}}</span>
                                <p>Instructor(s): {{ course["instructor"] }}</p>
                            </div>
                            <div class="col s12 m2 right-align">
                              <h5>{{ course["ratings"] }} <a class="btn-add-rating small material-icons waves-effect">thumb_up</a></h5>
                            </div>
                          </form>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('review', value=course['course_ref']) }}">Review</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- End Course List -->

        <!-- Add a Course -->
        {% if concentration_name %}
        <br>
        <hr><br>
        <h5>Think we're missing a course? Add one!</h5>
        <br>
        <form id="add-course" action="add-course" method="POST">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content grey lighten-5">
                            <div class="row">
                                <div class="col s12 m10">
                                    <span class="card-title">
                                        <div class="row">
                                            <div class="col s4">
                                                <input placeholder="Course ID" id="course_id" name="course_id" type="text" class="validate">
                                            </div>
                                            <div class="col s8">
                                                <input placeholder="Course Name" id="course_name" name="course_name" type="text" class="validate">
                                            </div>
                                        </div>
                                    </span>
                                    <input placeholder="Instructor Name" id="instructor" name="instructor" type="text" class="validate">
                                </div>
                            </div>
                        </div>
                        <div class="card-action grey lighten-5">
                            <a id="btn-add-review">Add Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br><br> {% endif %}
        <!-- End Add a Course-->

    </div>
</div>
{% endblock %}
