{% extends "base.html" %} {% block content %}

<!-- Parallax image -->
<div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="{{ url_for('static', filename='background1.jpg') }}"></div>
</div>

<!--   Login Section   -->
<div class="container">
    <div class="section">
        <form id="authenticate-login" action="authenticate-login" method="POST">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Login name" id="username" name="username" type="text" class="validate">
                            <label for="username">Login Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 center">
                            <button class="btn waves-effect waves-light red submit" type="submit" name="action">Login
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br><br><br>

<!-- Parallax image -->
<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{{ url_for('static', filename='background2.jpg') }}"></div>
</div>

<!-- How does this work Section -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">info</i></h2>
                    <h5 class="center">What is iRate iSchool?</h5>
                    <p class="light">Career Map is an application to bridge the gap between future careers of iSchoolers and courses relevant to those careers . We realise that course selection can be really hard, so we built an app were you can rate and review courses
                        listed by career concentration.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">vpn_key</i></h2>
                    <h5 class="center">Why "Sign in with Linkedin"?</h5>
                    <p class="light">We want to ensure the quality of ratings and reviews. We believe that we can minimize bad behavior by ensuring that everyone's activities are tied to their professional identity on Linkedin.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">assignment_ind</i></h2>
                    <h5 class="center">What do you do with Linkedin data?</h5>
                    <p class="light">We only accesses your profile information (name, title, profile pic, etc.) and email address. We don't do anything with your data other than simply display it to our members. We don't sell your data, or use it for ads etc.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
