{% extends "base.html" %} {% block content %}

<!-- Main section -->
<div class="parallax-container bg-image-review">
    <div id="bg-image" class="parallax">
        <img src="{{ url_for('static', filename='courses.jpg') }}" alt="" style="display: block; transform: translate3d(-50%, 34px, 0px);">
    </div>

    <!-- Main heading -->
    <div class="container">
        <br>
        <div class="row center title">
            <h2 class="header center blue-text text-darken-2">{{ name[0] }}. {{ name[1] }} 
            </h2>
        </div>
    </div>
</div>
<!-- End Main section -->


<!-- Reviews -->
<div class="section grey lighten-4">
    <div class="container">
    {% if reviews %}
    {% for review in reviews %}
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <p> {{ review["review_text"] }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s12">
                                Reviewed by:
                                <div class="chip">
                                     {{ review["user_id"] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}           
            <h5> There are no reviews for this course! </h5>
        {% endif %}
        <br><br>
        <!-- Add a Review -->
        <hr><br>
        <h5>Please add a review for this course!</h5>
        <br>
        <form id="add-review" action="add-review" method="POST">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content grey lighten-5">
                            <div class="row">
                                <div class="col s12 m10">
                                    <textarea placeholder="Your review" id="review" name="review" type="text" class="validate"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-action grey lighten-5">
                            <a id="btn-add-review">Add Review</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br><br> 
        <!-- End Add a Review -->
    </div>
</div>
<!-- End Reviews -->

{% endblock %}
